services:
  ouster_lidar_sbg:
    build:
      context: .
      dockerfile: Dockerfile
    image: ouster_lidar_sbg:latest
    container_name: ouster_lidar_sbg
    privileged: true # Allows access to devices
    volumes:
      - ../bags:/root/bags:rw
      - ../config:/root/config/:rw
      - /dev:/dev:rw # Mounts the device directory to allow access to devices
      - ../packages:/root/ros2_ws/src:rw
      # - ../config/chrony.conf:/root/chrony.conf:rw # Mount custom chrony config
      # - ./entrypoint.sh:/entrypoint.sh:rw # Custom entrypoint script
    environment:
      RCUTILS_COLORIZED_OUTPUT: 1 # Allows launch files to print colored text
    stdin_open: true # Keeps the container running even if it's not attached to a terminal. 
    tty: true # outuputs the terminal for the container, allowing you to interact with it.
    network_mode: host # Uses the host's network stack, which is useful for ROS
    restart: always
    # entrypoint: ["/entrypoint.sh"]
    